In [87]:
# import os

# os.listdir('../data_news')

In [88]:
# def update_phase(new_contents):
#     file_path = "../src/checkpoint/CHAMELEON/training.txt"  # Replace with the actual file path

#     # Open the file for writing (this will overwrite the existing contents)
#     with open(file_path, "w") as file:
#         file.write(new_contents)
#     print("File overwritten successfully.")

In [86]:
# import schedule
# import time
# def build_retrain_model() -> None:
#     update_phase('True')
#     time.sleep(3)
#     print('inside')
#     update_phase('False')
    
# if __name__ == "__main__":
#     build_retrain_model()
#     schedule.every(10).seconds.do(build_retrain_model).tag("run_retrain_model", 1)
#     while True:
#         schedule.run_pending()
#         time.sleep(1)

In [20]:
import pandas as pd
from ast import literal_eval

df = pd.read_csv('../data_news/weekly_data/test/behaviors_data.csv', converters={
                attribute: literal_eval
                for attribute in set([
                    'clicked_news', 'click_0_itemIDs'
                ])
            })
df.head()

,dt,user,clicked_news,click_0_itemIDs,candidate_news,clicked
0,2023-08-07 13:07:03,7367195841953376820,"[188230805194311296, 188230807104423858, 18823...","[188230807135332811, 188230807062302697, 18823...",188230806070402654,1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
1,2023-08-09 23:56:53,2591599432245475217,"[188230809195451729, 188230805201535289, 18823...","[188230808094335071, 188230807154108586, 18823...",188230807115139449,1 0 0 0 0 0 0 0 0 0 0
2,2023-08-10 09:34:55,593478609720370511,[188230809220913528],"[188230810092539727, 188230810092911084, 18823...",188230810093034304,1 0 0 0 0 0 0 0
3,2023-08-11 14:48:52,1474955111984319866,[188230810221019408],"[188230810092418356, 188230810093034304, 18823...",188230810093034304,1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
4,2023-08-10 10:35:32,4173342906457726185,[188230810072703074],"[188230809200535146, 188230809194656619, 18823...",188230809221328908,1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [21]:
# t_df = pd.DataFrame({'clicked':[[1,2,3,4]], 'clicked_0':['1 0 0 0']})
# t_df

In [22]:
from random import shuffle

def shuffle_list(row):
    list_clicked_0 =  row['clicked'].split()
#     print(type(row['click_0_itemIDs']))
    list_can = [row['candidate_news']] + row['click_0_itemIDs'] 
#     print(row['clicked'], list_clicked_0)
    l =list(zip(list_can, list_clicked_0))
    shuffle(l)
    a, b = zip(*l)
#     print(list(a), list(b))
    row['candidate_news'] = list(a)
    row['clicked'] = ' '.join(list(b))
    
    return row

In [23]:
# df.drop(['clicked'], axis='columns', inplace=True)
# df.rename(columns={'clicked_0':'clicked'}, inplace=True)

In [24]:
from tqdm import tqdm
tqdm.pandas()

df = df.progress_apply(shuffle_list, axis=1)
df.head()

100%|███████████████████████████████████| 15274/15274 [00:01<00:00, 8904.30it/s]

,dt,user,clicked_news,click_0_itemIDs,candidate_news,clicked
0,2023-08-07 13:07:03,7367195841953376820,"[188230805194311296, 188230807104423858, 18823...","[188230807135332811, 188230807062302697, 18823...","[188230806092332447, 188230806221216017, 18823...",0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
1,2023-08-09 23:56:53,2591599432245475217,"[188230809195451729, 188230805201535289, 18823...","[188230808094335071, 188230807154108586, 18823...","[188230807150257023, 18823080815380165, 188230...",0 0 0 0 0 0 0 0 1 0 0
2,2023-08-10 09:34:55,593478609720370511,[188230809220913528],"[188230810092539727, 188230810092911084, 18823...","[188230725133925585, 188230425091647583, 18823...",0 0 0 1 0 0 0 0
3,2023-08-11 14:48:52,1474955111984319866,[188230810221019408],"[188230810092418356, 188230810093034304, 18823...","[188230810134618799, 188230810073215575, 18823...",0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 ...
4,2023-08-10 10:35:32,4173342906457726185,[188230810072703074],"[188230809200535146, 188230809194656619, 18823...","[188230809221328908, 188230809221328908, 18823...",0 1 0 0 0 0 0 0 0 0 0 0 0 0 0

In [26]:
df = df[df['user'].apply(lambda x: str(x).isdigit())].reset_index(drop=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15274 entries, 0 to 15273
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dt               15274 non-null  object
 1   user             15274 non-null  int64
 2   clicked_news     15274 non-null  object
 3   click_0_itemIDs  15274 non-null  object
 4   candidate_news   15274 non-null  object
 5   clicked          15274 non-null  object
dtypes: int64(1), object(5)
memory usage: 716.1+ KB

In [9]:
df.iloc[0]['candidate_news']

[188230809132505836,
 188230809141818361,
 188230809110553202,
 188230808135100786]

In [158]:
df[df['click_0_itemIDs'].apply(lambda x: len(x) > 4 - 1)]

Empty DataFrame
Columns: [dt, user, clicked_news, click_0_itemIDs, candidate_news, clicked, clicked_0]
Index: []

In [28]:
df.to_csv('../data_news/weekly_data/test/behaviors_data.csv', index = False)

In [34]:
logs_df = pd.read_csv('../data_news/31-7-2023/log.csv')
logs_df.head()

,dt,user,clicked_news,click_0_itemIDs,candidate_news
0,2023-07-10 17:12:21,1000869511963106373,"[188230709220927133, 188230710103227318, 18823...","[18823071016062482, 188230710155859745, 188230...",188230710160516309
1,2023-07-10 18:36:38,1003963166457294478,"[188230710163501832, 188230710121456856, 18823...","[188230710133400489, 188230710140219304, 18823...",188230710140219304
2,2023-07-10 17:20:10,1004173811963373118,[188230710150507105],"[188230707103716363, 188230710151047815, 18823...",188230710151047815
3,2023-07-10 14:53:39,1004623683250147708,"[188230709123843263, 18823071007575433, 188230...","[188230709125650879, 188230709083753385, 18823...",188230709125650879
4,2023-07-10 09:12:51,1004833161953899231,[188230710090223897],"[20211015164528935, 188230626121804638, 188230...",188230709235357518

In [45]:
news_df = pd.read_csv('../data_news/31-7-2023/news_data.csv')
news_df.head()

,newsId,sourceNews,publishDate,catId,title,sapo
0,18823071009341549,CafeF,2023-07-10 09:31:00,188112,"Cấm xe máy vào nội đô, người dân đi lại bằng p...",Việc Hà Nội quay lại chủ trương cấm xe máy vào...
1,20170511213658244,CafeF,2017-05-12 09:37:00,114,8 mẫu đồng hồ mới nhất của Rolex: Dù là đấng m...,Vốn được biết đến là một trong những thương hi...
2,20210630151503985,CafeF,2021-06-30 15:14:39,36,"Chân dung ""ông trùm"" giáo dục tư nhân ở Việt N...",Tập đoàn Nguyễn Hoàng hiện có 60 cơ sở giáo dụ...
3,20210924065521798,CafeF,2021-09-24 08:00:00,34,Cá nhân hoá theo nhu cầu khách hàng - Tương la...,Tiến bộ công nghệ và dữ liệu thúc đẩy các ngân...
4,20211209164554372,CafeF,2021-12-10 08:03:23,114,3 cặp đôi “vàng” trên thương trường Việt: Vừa ...,"Họ là những ""cặp đôi vàng"" trên thương trường,..."